@model CS451R_Fundraiser.Models.Donation

@{
    ViewData["Title"] = "Donate";
}

<h1>Donate to Fundraiser</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Donate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="amount" class="control-label"></label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="donateDate" class="control-label"></label>
                <input asp-for="donateDate" class="form-control" />
                <span asp-validation-for="donateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Donate" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
