@{
    ViewData["Title"] = "User Dashboard";
}
<h1>@ViewData["Title"]</h1>
<html>
<body>
        <section id="hero">
        <div class="container py-5 h-30">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-black text-center text-black"
                                 style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                <img src="image.jpg"
                                     alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                                <h5>The Users Name</h5>
                                <br />
                                <br />
                                <button type="button" class="btn btn-dark">Update Profile</button>
                                <i class="far fa-edit mb-5"></i>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6>Information</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Email</h6>
                                            <p class="text-muted">info@example.com</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Phone</h6>
                                            <p class="text-muted">XXX XXX XXXX</p>
                                        </div>
                                    </div>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Username</h6>
                                            <p class="text-muted">abc123</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Password</h6>
                                            <p class="text-muted">12345</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="dashboard">
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Credit Card Number</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">XXXXXXXXXXX</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Name on Card</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">Fred Smith</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Expiration Date</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">XX/XX</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">CVV</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">XXX</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
