@{
    ViewData["Title"] = "User Dashboard";
}
<h1>@ViewData["Title"]</h1>
<html>
    <body>
    <section class="dashboard-main">
        <div class="container p-3 my-5 bg-dark text-white">
            <div class="row row-cols-2">
                <div class="col">
                    <h7 class="herotitle">*Users Photo*</h7>
                    <div class="col-lg-8 order-1 order-lg-2">
                        <!-- Users profile picture.-->
                        <img src="image.jpg" class="img-fluid" alt="">
                    </div>
                    <h2 class="hero-title">Name</h2>
                    <ul class="hero-list">
                     <li><a href="payment.html"><h4 style="color: white;">Payment</h4></a></li>
                     <li><a href="#"><h4 style="color: white;">Settings</h4></a></li>
                    </ul>
                </div>
                <div class="col-5">
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <h6> User Information</h6>
                    <div class="row">
                        <div class="col text-white">Username: 123</div>
                        <div class="col text-white">Password: 123</div>
                    </div>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col text-white">Email: abc@gmali.com</div>
                        <div class="col text-white">Address: 123 street</div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col text-white"><button type ="button">Update Profile</button></div>
                    </div>
                </>
                    <div class=""
                </div>
            </div>
        </div>
    </section>
    </body>
</html>
