@{
    ViewData["Title"] = "BlastOff Home Page";
}

<html>
    <body>
        <!-- ===== Begin hero section  ===== -->
        <section id="hero">
            <div class="container">
                <div class="row row-cols-2">
                    <div class="col">
                        <h2 class="hero-title">Launch Your Fundraiser</h2>
                        <ul class="hero-list">
                            <li><i>Create your fundraiser</i></li>
                            <li><i>Organize your blah blah blah</i></li>
                            <li><i>Track your goals and progress</i></li>
                        </ul>
                    </div>
                    <div class="col">
                        <h2 class="herotitle">*PHOTO PLACEHOLDER*</h2>
                        <div class="col-lg-8 order-1 order-lg-2">
                            <!-- MOVE THE PICTURE TO CSS file.-->
                            <img src="~/images/homePageImage1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ===== End hero section  ===== -->


        <!-- ===== Begin milestone section  ===== -->
        <section id="milestones" class="milestones">
            <div class="container">
                <div class="section-title"><h2>Our Milestones</h2></div>
                <div class="row no-gutters">
                    <div class="row row-cols-3">
                        <div id="milestone-box" class="col-lg-4 col-md-6">
                            <h4 class="title"><a># of Fundraisers</a></h4>
                            <div id="fundraiser-count" class="milestone-numbers">1000</div>
                        </div>
                        <div id="milestone-box" class="col-lg-4 col-md-6">
                            <h4 class="title"><a>Total # of Donations</a></h4>
                            <div id="donations-count" class="milestone-numbers">1001</div>
                        </div>
                        <div id="milestone-box" class="col-lg-4 col-md-6">
                            <h4 class="title"><a>Total Donations in $</a></h4>
                            <div id="donation-dollars" class="milestone-numbers">1002</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ===== End milestone section  ===== -->


        <!-- ===== Begin featured section  ===== -->
        <section id="featured" class="featured">
            <div class="container">
                <div class="section-title"><h2>Featured Fundraisers</h2></div>

                <div class="card-group">
                    <div class="card" id="feat-card">
                        <div class="card-header card-image">
                        <div class="card-img-top"></div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Card 1 Title</h3>
                            <div class="card-text">Card 1 content area</div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-outline"></button>
                        </div>
                    </div>
                    <div class="card" id="feat-card">
                        <img class="card-img-top">CARD 2 IMAGE PLACEHOLDER</img>
                        <div class="card-body">
                            <h3 class="card-title">Card 2 Title</h3>
                            <div class="card-text">Card 2 content area</div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-outline"></button>
                        </div>
                    </div>
                    <div class="card" id="feat-card">
                        <img class="card-img-top">CARD 3 IMAGE PLACEHOLDER</img>
                        <div class="card-body">
                            <h3 class="card-title">Card 3 Title</h3>
                            <div class="card-text">Card 3 content area</div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-outline"></button>
                        </div>
                    </div>
                <div class="card" id="feat-card">
                    <img class="card-img-top">CARD 4 IMAGE PLACEHOLDER</img>
                    <div class="card-body">
                        <h3 class="card-title">Card 4 Title</h3>
                        <div class="card-text">Card 4 content area</div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline"></button>
                    </div>
                </div>
                </div>
            </div>
        </section>
        <!-- ===== End featured section  ===== -->


        <!-- ===== Begin how-it-works section  ===== -->
        <section id="how-it-works" class="how-it-works">
            <div class="container">
                <div class="section-title">
                    <h2>How It Works</h2>
                </div>
            </div>

        </section>
        <!-- ===== End how-it-works section  ===== -->
    </body>
</html>
