@{
    ViewData["Title"] = "Home Page";
}

<section class="text-center">
    <h1 class="display-4">Start Your Fundraiser</h1>
</section>

<section id="text-center">
    <div class="container">
        <h2>About</h2>
    </div>
</section>

<section id="hero">
    <div id="hero-about"> Testing Hero Section</div>
</section>

