@{
    ViewData["Title"] = "BlastOff Home Page";
}

<html>
    <body>
        <!-- ===== Begin hero section  ===== -->
        <section id="hero">
            <div class="container">
                <div class="row row-cols-2">
                    <div class="col">
                        <h2 class="hero-title">Launch Your Fundraiser</h2>
                        <ul class="hero-list">
                            <li><i>Create your fundraiser</i></li>
                            <li><i>Organize your blah blah blah</i></li>
                            <li><i>Track your goals and progress</i></li>
                        </ul>
                    </div>
                    <div class="col">
                        <h2 class="herotitle">*PHOTO PLACEHOLDER*</h2>
                        <div class="col-lg-8 order-1 order-lg-2">
                            <img src="~/images/homePageImage1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ===== End hero section  ===== -->


        <!-- ===== Begin milestone section  ===== -->
        <section id="milestones" class="milestones">
            <div class="container">
                <div class="section-title">
                    <h2>Our Milestones</h2>
                </div>
                <div class="row row-cols-3">
                    <div class="col">
                        <h4 class="milestone-title"># of Fundraisers</h4>
                    </div>
                    <div class="col">
                        <h4 class="milestone-title">Total # of Donations</h4>
                    </div>
                    <div class="col">
                        <h4 class="milestone-title">Total Donations in $</h4>
                    </div>
                </div>
                </div>
            </div>
        </section>
        <!-- ===== End milestone section  ===== -->


        <!-- ===== Begin featured section  ===== -->
        <section id="featured">
            <div class="container">
                <div class="section-title">
                    <h2>Featured Fundraisers</h2>
                </div>
            </div>
        </section>
        <!-- ===== End featured section  ===== -->


        <!-- ===== Begin how-it-works section  ===== -->
        <section id="how-it-works">
            <div class="container">
                <div class="section-title">
                    <h2>How It Works</h2>
                </div>
            </div>

        </section>
        <!-- ===== End how-it-works section  ===== -->
    </body>
</html>
